Package: openssl
Version: 1.1.1k-1+deb11u1
Architecture: amd64
Maintainer: Debian OpenSSL Team <pkg-openssl-devel@lists.alioth.debian.org>
Installed-Size: 2085
Depends: libc6 (>= 2.33), libssl1.1 (>= 1.1.1)
Suggests: ca-certificates
Section: utils
Priority: optional
Multi-Arch: foreign
Homepage: https://www.openssl.org/
Description: Secure Sockets Layer toolkit - cryptographic utility
 This package is part of the OpenSSL project's implementation of the SSL
 and TLS cryptographic protocols for secure communication over the
 Internet.
 .
 It contains the general-purpose command line binary /usr/bin/openssl,
 useful for cryptographic operations such as:
  * creating RSA, DH, and DSA key parameters;
  * creating X.509 certificates, CSRs, and CRLs;
  * calculating message digests;
  * encrypting and decrypting with ciphers;
  * testing SSL/TLS clients and servers;
  * handling S/MIME signed or encrypted mail.
